.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.pt2 {
  padding-top: 2rem;
}

.mt2 {
  margin-top: 2rem;
}

.text.blue {
  color: #005cdd;
}

.btn.blue {
  background-color: #005cdd;
}

.btn.gray {
  background-color: #a0a0a0;
}

.clear {
  opacity: 0.5;
}

.hidden {
  display: none;
}

.line {
  width: 40px;
  height: 1px;
  display: inline-block;
  background: white;
  margin: -4px 20px 0 0;
  vertical-align: middle;
  transition: width 0.3s ease-in-out;
}
