.btn {
  color: #fff;
  background: #005cdd;
  font-size: 0.9rem;
  padding: 0.5rem 1.25rem;
  list-style-type: none;
  display: inline-block;
  border-radius: 2rem;
  border: 0;
  box-shadow: 3px 4px 22px 5px rgba(0, 0, 0, 0.08);
  transform: scale(1);
  transition: background 400ms ease-in, transform 200ms ease-in,
    box-shadow 200ms ease-in;
}

.btn:hover {
  color: #fff;
  cursor: pointer;
  box-shadow: 3px 0px 11px 5px rgba(0, 0, 0, 0.15);
  transform: translateY(-0.1rem);
  transition: background 400ms ease-in, transform 200ms ease-in,
    box-shadow 200ms ease-in;
}

.btn.disabled:hover {
  cursor: default;
  transform: translateY(0);
  box-shadow: 3px 4px 22px 5px rgba(0, 0, 0, 0.08);
}

.hover {
  transition: color 400ms ease-out;
}

.hover:hover {
  color: #005cdd;
  transition: color 400ms ease-out;
}
