.gallery--motion {
  display: flex;
  flex-direction: row;
  height: 100%;

  .listings {
    display: block;
    overflow-y: scroll;
  }

  .listing {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
  }
}
