.gallery--motion {
  display: flex;
  flex-direction: row;
  height: 100%;

  .header {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    border-right: 1px solid #96a4ea;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-bottom: 5px;
    padding: 12px;
    width: 6rem;

    .heading {
      color: #96a4ea;
      font-family: Pro, Roboto, Helvetica, sans-serif;
      font-weight: 100;
      letter-spacing: 2px;
      padding: 0 2rem;
      text-transform: uppercase;
      transform: rotate(270deg);
      width: 100vh;
    }
  }

  .listings {
    display: block;
    overflow-y: scroll;
    padding: 8rem;
  }

  .listing {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
  }
}
