.stills.container {
  animation: 1s ease-out 0s 1 fadeIn;
  display: flex;
  flex-direction: row;
  font-family: Lato, sans-serif;
  justify-content: flex-start;
  padding-top: 100px;

  .stills__filter {
    padding: 3em;

    .filter__list {
      list-style-type: none;
    }

    li {
      margin: 0;
    }

    .filter__link {
      background: transparent;
      border: none;
      color: #8d8e8e;
      cursor: pointer;
      font-size: 20px;
      padding: 2px;
      text-transform: lowercase;
    }
  }

  .gallery-container {
    overflow: scroll;
  }
}
